<h1 class="display-4">Register new User!</h1>

<form method="post">
    Login: <input type="text" id="username" name="username"/> <br/>
    Password: <input type="password" id="password1" name="password1"/> <br/>
    Password (repeat): <input type="password" id="password2" name="password2"/> <br/>
    <input type="submit" value="Submit" asp-page-handler="Submit"/>
    @ViewData["Message"]
</form>